<div ng-controller="customSignupCtrl">
    <form name="signupForm" class="form-horizontal" novalidate ng-submit="signupForm.$valid && signupForm.password.$modelValue.length > 8">
        <div class="form-group" ng-class="{ 'has-success': signupForm.name.$valid && signupForm.name.$dirty, 'has-error': signupForm.name.$invalid && signupForm.name.$dirty }">
            <div class="col-xs-10 col-sm-11">
                <input type="text" class="form-control" name="name" placeholder="*{{ 'CUSTOMSIGNUP.NAME' | translate }}" ng-model="model.name" required autofocus>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': signupForm.name.$valid && signupForm.name.$dirty, 'glyphicon-remove red_class': signupForm.name.$invalid && signupForm.name.$dirty, 'glyphicon-pencil': signupForm.name.$pristine }"></span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupForm.email.$dirty, 'has-error': signupForm.email.$invalid && signupForm.email.$dirty }">
            <div class="col-xs-10 col-sm-11">
                <input type="email" class="form-control" name="email" placeholder="*{{ 'CUSTOMSIGNUP.EMAIL' | translate }}" ng-model="model.email" required>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': signupForm.email.$valid && signupForm.email.$dirty, 'glyphicon-remove red_class': signupForm.email.$invalid && signupForm.email.$dirty, 'glyphicon-pencil': signupForm.email.$pristine }"></span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': signupForm.password.$valid && signupForm.password.$dirty, 'has-error': signupForm.password.$invalid && signupForm.password.$dirty || signupForm.password.$modelValue.length < 8 }">
            <div class="col-xs-10 col-sm-11">
                <input type="password" class="form-control" name="password" placeholder="*{{ 'CUSTOMSIGNUP.PASS' | translate }}" ng-model="model.password" required>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': signupForm.password.$valid && signupForm.password.$dirty && signupForm.password.$modelValue.length >= 8, 'glyphicon-remove red_class': (signupForm.password.$invalid && signupForm.password.$dirty) || signupForm.password.$modelValue.length < 8, 'glyphicon-pencil': signupForm.password.$pristine}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="font-grey" translate="FORM.STARFIELD"></div>
                <button type="submit" id="regBtn" class="btn btn-lg btn-default" ng-disabled="signupForm.$invalid || signupForm.password.$modelValue.length < 8" ng-click="signup()" style="margin-top: 15px">
                    <span class="fa fa-user-plus"></span> <span translate="CUSTOMSIGNUP.SIGNUP"></span></button>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="font-grey" translate="CUSTOMSIGNUP.PASSERROR"></div>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <a href="" ng-click="redirectLogin()" translate="CUSTOMSIGNUP.ALREADYQUESTION"></a>
            </div>
        </div>
    </form>
    <div ng-if="logError === 403" id="alreadyreg" class="text-red text-center" style="font-size: 1.3em" translate="CUSTOMSIGNUP.WRONG"></div>
    </div>
