<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div class="text-center">
        <h1>{{ "EDITPROFILE.HEADER" | translate }}</h1>
    </div>
    <div class="panel panel-default panel-color">
        <div class="panel-body">
            <div class="row">
                <div class="colx-xs-12 text-center" ng-if="!loggedWithForG">
                    <img class="editProfile-picture" ngf-src="userData.photoSocial" alt="">
                    <button class="btn btn-outline outline-border" data-toggle="collapse" data-target="#collapsePicture" id="changePictureBtn">{{ "EDITPROFILE.CHANGEPROFILEPICTURE" | translate }}</button>
                    <form name="editPictureForm" novalidate id="collapsePicture" class="collapse" style="margin-top: 10px">
                        <div class="text-center">
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                </img-crop>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button class="fileUpload upload btn btn-lg btn-outline outline-right" name="avatar" ngf-select ng-model="picFile" accept="image/*" id="chooseFileBtn">
                                {{ "EDITPROFILE.BROWSE" | translate }}
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div>
                                <img class="editProfile-picture" ng-src="{{croppedDataUrl}}" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button class="fileUpload btn btn-lg btn-outline outline-left" id="#uploadButton" ng-disabled="editPictureForm.$pristine" ng-click="uploadProfilePicture(croppedDataUrl, picFile.name)">
                                <span>{{ "EDITPROFILE.UPLOAD" | translate }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <form name="profileForm" class="form-horizontal" novalidate ng-submit="profileForm.$valid && submit(profileForm, userData._id)">
                <div class="edit-profile-form-fields">
                    <div class="form-group" ng-class="{ 'has-success': profileForm.name.$valid && profileForm.name.$dirty, 'has-error': profileForm.name.$invalid && profileForm.name.$dirty }">
                        <div class="col-xs-10 col-sm-11">
                            {{ "EDITPROFILE.NAME" | translate }}
                            <input type="text" class="form-control" name="name" ng-model="userData.name">
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <span class="glyphicon glyphicon-top-align-with-lable text-black" ng-class="{'glyphicon-ok green_class': profileForm.name.$valid && profileForm.name.$dirty, 'glyphicon-remove red_class': profileForm.name.$invalid && profileForm.name.$dirty, 'glyphicon-pencil': profileForm.name.$pristine }"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': profileForm.surname.$valid && profileForm.surname.$dirty, 'has-error': profileForm.surname.$invalid && profileForm.surname.$dirty }">
                        <div class="col-xs-10 col-sm-11">
                            {{ "EDITPROFILE.LASTNAME" | translate }}
                            <input type="text" class="form-control" name="surname" ng-model="userData.surname">
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <span class="glyphicon glyphicon-top-align-with-lable text-black" ng-class="{'glyphicon-ok green_class': profileForm.surname.$valid && profileForm.surname.$dirty, 'glyphicon-remove red_class': profileForm.surname.$invalid && profileForm.surname.$dirty, 'glyphicon-pencil': profileForm.surname.$pristine }"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': profileForm.birthDate.$valid && profileForm.birthDate.$dirty, 'has-error': profileForm.birthDate.$invalid && profileForm.birthDate.$dirty }">
                        <div class="col-xs-10 col-sm-11">
                            {{ "EDITPROFILE.BIRTHDAY" | translate }}
                            <input type="date" class="form-control" name="birthDate" ng-model="userData.birthDate">
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <span class="glyphicon glyphicon-top-align-with-lable text-black" ng-class="{'glyphicon-ok green_class': profileForm.birthDate.$valid && profileForm.birthDate.$dirty, 'glyphicon-remove red_class': profileForm.birthDate.$invalid && profileForm.birthDate.$dirty, 'glyphicon-pencil': profileForm.birthDate.$pristine }"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': profileForm.phone.$valid && profileForm.phone.$dirty, 'has-error': profileForm.phone.$invalid && profileForm.phone.$dirty }">
                        <div class="col-xs-10 col-sm-11">
                            {{ "EDITPROFILE.PHONE" | translate }}
                            <input type="number" min="111111111" max="999999999" class="form-control" name="phone" ng-model="userData.phone" placeholder="{{ 'EDITPROFILE.PHONEPLACEHOLDER' | translate }}">
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <span class="glyphicon glyphicon-top-align-with-lable text-black" ng-class="{'glyphicon-ok green_class': profileForm.phone.$valid && profileForm.phone.$dirty, 'glyphicon-remove red_class': profileForm.phone.$invalid && profileForm.phone.$dirty, 'glyphicon-pencil': profileForm.phone.$pristine }"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                            {{ "EDITPROFILE.LOCATION" | translate }}
                            <button type="button" class="btn btn-lg btn-outline outline-border" ng-click="redirectLocation()"><span class="fa fa-map-marker"></span></button>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <span class="pull-right">
                                    <button type="button" id="setMaleButton" class="btn btn-outline outline-border" ng-class="{'active': userData.gender === 'male'}" data-toggle="button" ng-click="setMale(profileForm)">{{ "EDITPROFILE.MALE" | translate }}</button>
                                    <button type="button" id="setFemaleButton" class="btn btn-outline outline-border" ng-class="{'active': userData.gender === 'female'}" data-toggle="button" ng-click="setFemale(profileForm)">{{ "EDITPROFILE.FEMALE" | translate }}</button>
                                 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-default" ng-disabled="profileForm.$pristine ||  profileForm.$invalid" id="acceptBtn">{{ "EDITPROFILE.ACCEPT" | translate }}</button>
                        <button class="btn btn-default" ui-sref="detailUser({_id: userId})" style="margin-left: 15px">{{ "EDITPROFILE.CANCEL" | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-xs-12 col-sm-4 text-center" ng-if="!loggedWithForG">
            <button class="btn btn-lg btn-outline outline-border" id="togglePass" data-toggle="collapse" data-target="#collapse1" ng-click="collapsePass()">{{ "EDITPROFILE.CHANGEPASS" | translate }}</button>
        </div>
        <div class="col-xs-12 col-sm-4 text-center" ng-if="!loggedWithForG">
            <button class="btn btn-lg btn-outline outline-border" id="toggleEmail" data-toggle="collapse" data-target="#collapse2" ng-click="collapseEmail()">{{ "EDITPROFILE.CHANGEEMAIL" | translate }}</button>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <button class="btn btn-lg btn-outline outline-border" id="toggleCat" data-toggle="collapse" data-target="#collapse3" ng-click="collapseCat()">{{ "EDITPROFILE.FAVCATS" | translate }}</button>
        </div>
    </div>
    <div class="row" style="min-height: 100px">
        <div class="col-xs-12 collapse" id="collapse1">
            <div class="panel panel-default panel-color">
                <div class="panel-body">
                    <form name="passForm" class="form-horizontal" novalidate ng-submit="passForm.$valid && submitPass(passForm, userData._id)">
                        <div class="form-group">
                            <div class="col-xs-10 col-sm-11">
                                <input type="password" class="form-control" name="oldPass" placeholder="*{{ 'EDITPROFILE.OLDPWD' | translate }}" ng-model="oldPass" required>
                            </div>
                            <div class="col-xs-2 col-sm-1">
                                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': passForm.oldPass.$valid && passForm.oldPass.$dirty, 'glyphicon-remove red_class': passForm.oldPass.$invalid && passForm.oldPass.$dirty || passForm.oldPass.$modelValue.length < 8, 'glyphicon-pencil': passForm.oldPass.$pristine }"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-sm-11">
                                <input type="password" class="form-control" name="newPass" placeholder="*{{ 'EDITPROFILE.NEWPWD' | translate }}" ng-model="newPass" required>
                            </div>
                            <div class="col-xs-2 col-sm-1">
                                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': passForm.newPass.$valid && passForm.newPass.$dirty, 'glyphicon-remove red_class': passForm.newPass.$invalid && passForm.newPass.$dirty || passForm.newPass.$modelValue.length < 8, 'glyphicon-pencil': passForm.newPass.$pristine }"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-sm-11">
                                <input type="password" class="form-control" name="confirmPass" placeholder="*{{ 'EDITPROFILE.CONFIRMPWD' | translate }}" ng-model="confirmPass" required>
                            </div>
                            <div class="col-xs-2 col-sm-1">
                                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': passForm.confirmPass.$valid && passForm.confirmPass.$dirty, 'glyphicon-remove red_class': passForm.confirmPass.$invalid && passForm.confirmPass.$dirty || passForm.confirmPass.$modelValue.length < 8, 'glyphicon-pencil': passForm.confirmPass.$pristine }"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-lg btn-default" ng-disabled="passForm.$pristine || passForm.$invalid || passForm.oldPass.$modelValue.length < 8 || passForm.newPass.$modelValue.length < 8 || passForm.confirmPass.$modelValue.length < 8" id="passChangeAcceptBtn">{{ "EDITPROFILE.ACCEPT" | translate }}</button>
                        </div>
                        <div class="col-xs-12 col-sm-8 text-center">
                            <div class="font-grey" translate="CUSTOMSIGNUP.PASSERROR"></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-default" ng-disabled="profileForm.$pristine ||  profileForm.$invalid" id="acceptBtn">{{ "EDITPROFILE.ACCEPT" | translate }}</button>
                            <button class="btn btn-default" ui-sref="detailUser({_id: userId})" style="margin-left: 15px">{{ "EDITPROFILE.CANCEL" | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 collapse" id="collapse2">
            <div class="panel panel-default panel-color">
                <div class="panel-body">
                    <form name="emailForm" class="form-horizontal" novalidate ng-submit="emailForm.$valid && submitEmail(emailForm)">
                        <div class="form-group">
                            <div class="col-xs-10 col-sm-11">
                                <input type="email" class="form-control" name="newEmail" placeholder="*{{ 'EDITPROFILE.NEWEMAIL' | translate }}" ng-model="userData.email" required>
                            </div>
                            <div class="col-xs-2 col-sm-1">
                                <span class="glyphicon glyphicon-top-align text-black" ng-class="{'glyphicon-ok green_class': emailForm.newEmail.$valid && emailForm.newEmail.$dirty, 'glyphicon-remove red_class': emailForm.newEmail.$invalid && emailForm.newEmail.$dirty, 'glyphicon-pencil': emailForm.newEmail.$pristine }"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-lg btn-default" ng-disabled="emailForm.$pristine || emailForm.$invalid" id="emailChangeAcceptBtn">{{ "EDITPROFILE.ACCEPT" | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 collapse" id="collapse3">
            <div class="panel panel-default panel-color">
                <div class="panel-body">
                    <div ng-repeat="cat in categories">
                        <div class="row category-row">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                                <span class="profile-category">
                                        <span translate="CREATEAD.CATEGORY.{{cat}}">CAT1</span>
                                    </span>
                                </div>
                                <div class="col-xs-6 col-sm-5">
                                    <span class="pull-right category-switch">
                                        <input type="checkbox" bs-switch checklist-model="userData.favCat" checklist-value="cat" switch-on-color="primary" switch-off-color="default" switch-on-text="{{ 'SWITCH.YES' | translate }}" switch-off-text="{{ 'SWITCH.NO' | translate }}" id="cat_{{$index}}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-top: 15px">
                        <button class="btn btn-lg btn-default" ng-click="submitCategories()" id="catChangeAcceptBtn">{{ "EDITPROFILE.SAVE" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
