<div ng-controller='chatWindowCtrl' style="height: 100%">
    <div class="col-xs-12" style="height: 100%; overflow-y: scroll" scroll-glue=true>
        <div style="width: 100%;" ng-repeat="item in messageLog">
            <div class="row chatMessage">
                <div ng-if="item.user === room._id">
                    <div class="pull_right">
                        {{item.timestamp | timeago}} - ({{item.timestamp | date:'HH:mm'}})
                    </div>
                </div>
                <div ng-if="item.user !== room._id">
                    ({{item.timestamp | date:'HH:mm'}}) - {{item.timestamp | timeago}}
                </div>
                <div class="talk-bubble tri-right round asker" ng-class="{ right_top: item.user === room._id, left_top: item.user === askerId, target: item.user === room._id, asker: item.user === askerId }">
                    <div class="talktext">
                        {{item.msg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row chatPanel'>
        <br>
    </div>
    <div class='row'>
        <div class='col-xs-12' style="padding: 0">
            <form role='form' novalidate name='form'>
                <div class='form-group' style="margin-bottom: 10px">
                    <div class="col-xs-12">
                        <input type='text' class="pull-left" style="width: 80%" required ng-max='50' ng-model='message' placeholder="Escribir mensaje" autofocus>
                        <button style="width: 18%" class='btn btn-sm btn-outline outline-border chatSendButton pull-right' ng-enable='form.$valid' ng-click="send_individual_msg()"><span class="fa fa-paper-plane chatSendIcon"></span></button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
